.galeria {
    padding: 10px 0;
    /*    display: flex;
    flex-wrap: wrap;
    gap:10px; */
}
/* .galeria .kep {
    /*   padding: 2px;
    width: calc(25% - 10px); 
*/
.galeria img {
    width: 100%;
}

.galeria .card {
    position: relative;
    padding: 0px;
    cursor: pointer;
}
.nev {
    position: absolute;
    bottom: 15px;
    left: 15px;

    text-align: center;
}

.card-footer {
    background-color: rgba(250, 235, 215, 0.653) !important;
    width: calc(100% - 30px);
}
