.galeria {
    padding: 10px 0;
    
}

.galeria img {
    width: 100%;
}

.galeria .card {
    position: relative;
    padding: 0px;
    cursor: pointer;
   
}
.nev {
    position: absolute;
    bottom: 15px;
    left: 15px;
    text-align: center;
}

.card-footer {
    background-color: rgba(250, 235, 215, 0.653) !important;
    width: calc(100% - 30px);
}
