.admingaleria {
    position: absolute;
    top: 200px;
    right: 10%;
    width: 60%;
    min-width: 400px;
    max-width: 600px;
    max-height: 400px;
    background-color: rgb(244, 239, 239);
    padding: 10px;
}
.admingaleria .kep img {
    width: 100%;
}

.admingaleria .kepdiv {
    aspect-ratio: 1.5;
    overflow: hidden;
}
.elrejt {
   /*  display: none; */
    visibility:hidden;
    background-color:red;
}
